// Breakpoints
$mobile-breakpoint: 576px;
$mobile-container: 540px;

$tablet-breakpoint: 768px;
$tablet-container: 720px;

$laptop-breakpoint: 960px;
$laptop-container: 880px;

$desktop-breakpoint: 1600px;
$desktop-container: 1440px;

$main-text-color: #212121;
$theme-color: #ebe1fc;