.product {
  padding: 24px 0 72px;
  text-align: center;
  background-color: #F5EFE4;
  background-image: url("../images/bg-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  @include desktop {
    padding: 5px 0 45px;
    text-align: left;
    background-image: url("../images/bg-desktop.jpg");
    background-size: cover;
  }
}

.product__container {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.product__desc {
  @include desktop {
    position: relative;
    width: 660px;
  }
}

.product__logo {
  display: block;
  margin-bottom: 16px;
}

.product__slogan {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: #118976;
  text-shadow: 2px 2px 0 #ffffff;

  @include desktop {
    margin-bottom: 72px;
    font-size: 56px;
    line-height: 68px;    
  }
}

.product__features {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @include desktop {
    width: 360px;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }

  & li {
    position: relative;
    margin-bottom: 20px;
    padding-right: 55px;
    padding-left: 85px;
    text-align: left;

    @include desktop {
      margin-bottom: 45px;
      padding-left: 75px;
      padding-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-right: 120px;

      @include desktop {
        padding-right: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      width: 56px;
      height: 56px;
      transform: translate(0, -50%);
      background-image: url("../images/icon-check.png");

      @include desktop {
        left: 0;
      }
    }
  }
}

.product__img {
  display: block;
  margin-bottom: 75px;

  @include desktop {
    position: absolute;
    right: 0;
    bottom: -15px;
    margin-bottom: 0;
  }
}

.product__offer {
  padding: 24px 32px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  @include desktop {
    box-sizing: border-box;
    width: 368px;
    margin-top: 100px;
    padding: 24px 55px;
    text-align: center;
  }
}

.product__offer-title {
  margin: 0 0 45px;
  font-size: 29px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;

  @include desktop {
    margin-bottom: 15px;
  }
}

.product__price {
  margin: 0 0 62px;
  font-size: 23px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #FF2C2C;

  @include desktop {
    margin-bottom: 100px;
  }

  & b {
    font-size: 38px;
    line-height: 42px;
  }

  & span {
    font-weight: 900;
  }
}

.product__form select,
.product__form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
  padding: 11px 70px 12px 19px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #089C84;
}

.product__form select {
  padding-left: 17px;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.product__form input::placeholder {
  color: $text-color;
}

.product__submit {
  width: 100%;
  margin: 10px 0 15px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: #FF272B;
  border-radius: 50px;
  box-shadow: 0 4px 0 #BF1D20;
}

.product__note {
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}