#app {
  width: 414px;
  margin: 50px auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: $main-text-color;

  @include laptop {
    display: grid;
    grid-template-columns: 502px 348px;
    column-gap: 30px;
    box-sizing: border-box;
    width: $laptop-container;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  @include desktop {
    grid-template-columns: 590px 701px;
    column-gap: 149px;
    width: $desktop-container;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.app__title {
  grid-column: 1 / 3;
  margin: 0 0 20px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;

  @include laptop {
    font-size: 38px;
    line-height: 50px;
  }

  @include desktop {
    margin-bottom: 60px;
    font-size: 46px;
    line-height: 64px;
  }
}

.app__description {
  margin: 0 0 30px;
  padding: 0 20px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: #505361;

  @include laptop {
    grid-column: 1 / 3;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
  }

  @include desktop {
    grid-column: 1 / 2;
    order: 1;
    text-align: left;
  }
}

.app__fieldset {
  padding: 24px 21px 30px 20px;
  background-color: #e2e5ee;

  @include laptop {
    grid-column: 1 / 2;
    padding: 30px 40px 43px 40px;
    border-radius: 6px;
  }

  @include desktop {
    order: 3;
    padding: 30px 50px 47px 50px;
  }
}

.app__label {
  display: block;
  width: 282px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;

  @include laptop {
    width: 358px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 41px;
  }

  @include laptop {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.app__field {
  position: relative;
  margin: 0;
  padding-left: 42px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;

  @include laptop {
    padding-left: 31px;
    font-size: 16px;
    line-height: 26px;
  }

  &:before {
    content: url("~@/assets/img/icon-rub.svg");
    position: absolute;
    top: 8px;
    left: 0;
  }
}

.app__input {
  position: relative;
  box-sizing: border-box;
  width: 283px;
  margin: 0 16px 0 0;
  padding: 7px 20px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  border-radius: 6px;

  @include laptop {
    width: 270px;
    margin-left: 21px;
    font-size: 18px;
    line-height: 31px;
  }

  @include desktop {
    width: 308px;
    font-size: 16px;
    line-height: 26px;
  }
}

.app__output {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;

  @include laptop {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @include desktop {
    justify-content: flex-end;
    align-items: flex-start;
    order: 2;
    margin-bottom: 40px;
  }
}

.app__result {
  box-sizing: border-box;
  width: 179px;
  margin: 0;
  padding: 19px 0 18px;
  line-height: 26px;
  text-align: center;
  background-color: $theme-color;
  border-radius: 6px;

  @include laptop {
    width: 100%;
    padding: 15px 0 12px;

    &:first-child {
      margin-bottom: 22px;
    }
  }

  @include desktop {
    width: 240px;
    padding: 18px 0;

    &:first-child {
      margin-right: 24px;
      margin-bottom: 0;
    }
  }
}

.app__count {
  display: block;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.3px;

  @include laptop {
    font-size: 26px;
    line-height: 28px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 40px;
  }
}

.app__caption {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;

  @include laptop {
    font-size: 18px;
    line-height: 31px;
  }
}

.app__chart {
  grid-column: 1 / 3;
  margin: 0;
  padding: 16px 20px 20px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  @include laptop {
    margin-top: 30px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-radius: 6px;
  }

  @include desktop {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    order: 4;
    margin-top: 0;
  }

  & figcaption {
    margin-bottom: 16px;

    @include laptop {
      display: none;
    }
  }
}

.app__advice {
  margin: 0;
  padding-top: 30px;
  padding-right: 40px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #717171;

  @include laptop {
    grid-column: 1 / 2;
    padding-right: 15px;
    font-size: 15px;
    line-height: 22px;
  }

  @include desktop {
    order: 6;
  }
}